{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
All Vacancies
{% endblock %}


{% block body %}

{% if vacancies is empty  %}
<p>
    No Products Found
</p>

{% else %}

<table width="100%">
	<tr>
        <th>ID</th>
		<th>Place</th>
        <th>Position</th>
		<th>Salary Given</th>
        <th>Closing Date</th>
        <th>Recruiter</th>
        <th>Interested Field</th>
    </tr>

    {% for jr in vacancies %}
        <tr>
        <td>
        <a href="{{url('vacancy_view',{'id':jr.id})}}">{{ jr.id|e }}</a>
        </td>

		<td>{{ jr.place|e }}
        </td>

        <td>{{ jr.position|e }}
        </td>

        <td>{{ jr.salaryGiven|e }}
        </td>

        <td>{{ jr.closingDate|date('Y-m-d') }}
        </td>

        <td><a href="{{url('jobRecruiter_view',{'id':jr.getPostedVacancy().getId()})}}">{{ jr.getPostedVacancy().getCompanyName()|e }}
        </td>


        <td>{{jr.getVacancyField().getName()}}</td>


        <td>
            <div class="btn-group" >

                <a href="{{ url('apply_viewAll', {'id':jr.id}) }}"><button type="button" class="btn btn-xs btn-info">View All Appications</button></a>
            </div>
        </td>

        </tr>
    {% endfor %}

   
</table>

{% endif %}

{% endblock %}





