{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Sign In
{% endblock %}



{% block body %}

{% if error %}
    <div style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">

    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    <br>
    <button type="submit">login</button>

</form>
<br>
If you are a job seeker <a href="{{url('signup_seeker')}}">sign up as a job seeker</a>.
<br>
If you are a company <a href="{{url('signup_recruiter')}}">sign up as a job recruiter</a>.

{%  endblock %}